/* Navigation */
.navbar-inverse {
	border: none;
	border-radius: 0;
	margin: 0;
	background: #52e489; /* 81ed0f */
}

	.navbar-brand {
		height: 60px;
		padding: 0;
	}

		.nav-brand-symbol {
			width: 60%; 
		}

	.navbar-inverse .navbar-nav > li > a {
		color: #fff;
		font-weight: bold;
	} 



/* Jumbotron */
.jumbotron {
	background: none;
}

	.video-container {
		height: 650px;
		margin-top: -60px;
		position: relative;
		overflow: hidden;
	}

	.video-distortion {
		height: 650px;
		width: 100%;
		margin-top: -650px;
		background: url(../images/video-distortion.png);
	}

		video {
			width: 100%;
			position: absolute;
			z-index: -1;
		}

	.jumbotron-content {
		margin-top: -450px;
		padding: 25px 0 35px 0;
		position: relative;
		text-align: center;
		color: #fff;
		z-index: 999;
		background: rgba(0,0,0, .5);
	}

		p.slogan {
			font-size: 5em;
			font-family: 'Permanent Marker';
		}

		.btn {
			border: none;
			background: #52e489;
			color: #fff;
			font-size: 2.5em;
			font-family: 'Permanent Marker';
		}



/* About */
.about {
	margin-top: 200px;
}

	.about h2 {
		padding: 0 0 50px 0;
		color: #52e489;
		text-align: center;
		font-family: 'Permanent Marker';
	}



/* Limin */
.limin {
	padding: 200px 0;
	color: #fff;
	background: #52e489;
}



/* Survey */
.survey {
	padding: 100px 0;
}

	.survey h3 {
		padding: 50px 0;
		text-align: center;
		font-family: 'Permanent Marker';
	}

	input[type="range"] {
		-webkit-appearance: none;
		height: 7px;
		background-color: #ccc;
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		background-color: #52e489;
		border: 1px solid #bdc3c7;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		cursor: pointer;
	}

	input[type="range"]:focus {
		outline: none;
	}

	output {
		display: block;
	    font-size: 30px;
	    font-weight: bold;
	    text-align: center;
	    margin: 15px 0 50px 0;
	}



/* footer */
footer {
	padding: 25px 0 20px 0;
	color: #fff;
	background: #52e489;
}