/* Navigation */
.navbar-inverse {
	border: none;
	border-radius: 0;
	margin: 0;
	background: #52e489; /* 81ed0f */
}

	.navbar-brand {
		height: 60px;
		padding: 0;
	}

		.nav-brand-symbol {
			width: 60%; 
		}

	.navbar-inverse .navbar-nav > li > a {
		color: #fff;
		font-weight: bold;
	}

	.navbar-inverse .navbar-nav > li > a:hover {
		background: #99F7BD;
	}

	.navbar-inverse .navbar-toggle {
		border: none;
	}

	.navbar-inverse .navbar-toggle:hover {
		background: #99F7BD;
	}



/* Jumbotron */
.jumbotron {
	padding-top: 0;
	background: none;
}

	.video-container {
		height: 650px;
		position: relative;
		overflow: hidden;
	}

		video {
			width: 100%;
			position: absolute;
			z-index: -1;
		}

	.video-distortion {
		height: 650px;
		width: 100%;
		background: url(../images/video-distortion.png);
	}

	.jumbotron-content {
		margin-top: 60px;
		padding: 25px 0 50px 0;
		position: relative;
		text-align: center;
		color: #fff;
		z-index: 999;
		background: rgba(0,0,0, .5);
	}

		p.slogan {
			margin: 0;
			font-size: 5vw;
			font-family: 'Caveat';
		}

		p.jc-p {
			margin-bottom: 30px;
			font-size: 1.1em;
			font-style: italic;
		}

		.btn {
			border: none;
			background: #52e489;
			color: #fff;
			font-size: 2.5em;
			font-family: 'Caveat';
		}



/* About */
.about {
	margin-top: 50px;
	padding-bottom: 200px;
}

	.about h2 {
		padding: 0 0 50px 0;
		color: #52e489;
		text-align: center;
		font-family: 'Caveat';
	}



/* Limin */
.limin {
	padding: 200px 0;
	color: #fff;
	text-align: center;
	background: #52e489;
}

	.limin h2 {
		font-family: 'Caveat';
		font-size: 15em;
	}

	.limin p {
		font-style: italic;
	}



/* Survey */
.survey {
	padding: 100px 0;
}

	.survey h3 {
		padding: 50px 0;
		text-align: center;
		font-family: 'Permanent Marker';
	}

	input[type="range"] {
		-webkit-appearance: none;
		height: 7px;
		background-color: #ccc;
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		background-color: #52e489;
		border: 1px solid #bdc3c7;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		cursor: pointer;
	}

	input[type="range"]:focus {
		outline: none;
	}

	output {
		display: block;
	    font-size: 30px;
	    font-weight: bold;
	    text-align: center;
	    margin: 15px 0 50px 0;
	}



/* Modal */
.modal-body img {
	max-width: 100%;
}



/* footer */
footer {
	padding: 25px 0 20px 0;
	color: #fff;
	background: #52e489;
}



/* Media Queries */
@media only screen and (min-width: 725px) {

	.jumbotron-content {
		margin-top: -500px;
	}

}

@media only screen and (min-width: 768px) {

	.navbar-nav > li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}

}